<h1>Locality information:</h1>

<p>locality name: <%=@locality.locality%></p>
reported crimes in the locality:
<% @locality.crimes.each do |crime|%>
  <ul>
    <li><%=link_to crime.crime_type, crime_path(crime)%></li>
  </ul>
<% end %>

<h2>
  <%=link_to 'Edit locality', edit_locality_path(@locality)%> |
  <%=link_to 'Delete locality', locality_path(@locality), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</h2>
